<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/51f7869b33.js" crossorigin="anonymous"></script>

  <title>Smart Patient Assistant</title>
</head>

<body>
  <div class="jumbotron jumbotron-fluid bg-light text-center">
    <a class="btn btn-social-icon" href="https://github.com/AbiralRai/SmartPatientAssistant" target="_blank">
      <i class="fab fa-github fa-3x"></i>
    </a>
    <!-- <h1
        class="display-4 text-center text-uppercase text-dark font-weight-normal"
      >
        Smart Patient Assistant
      </h1> -->
    <div class="container ">
      <h1 class="display-4 text-center text-uppercase text-dark font-weight-normal">
        Smart Patient Assistant
      </h1>
      <p class=" text-muted w-75 mx-auto lead">
        ECG Classification of different types of Arrhytmia.Upload an ECG
        recordings and let the Model detect types of Arrhytmia
      </p>
    </div>
    
  </div>
  
  <div class="container w-50 py-5">
    
    <form action="{{url_for('index')}}" method="POST" enctype=multipart/form-data class="was-validated clearfix">
      <div class="form-group">
        <label for="exampleFormControlFile1">CSV ECG file </label>
        <p class="badge badge-info">186 Sample</p>
        <input type="file" class="form-control-file form-control form-control-lg" id="exampleFormControlFile1"
          name="file" accept=".csv" required />
      </div>
      <button type="submit" class="btn btn-primary btn-lg active  float-sm-right" role="button" aria-pressed="true">
        Submit
      </button>
    </form>
    
      <!-- <div class="alert alert-success my-4" role="alert">
        A simple primary alert—check it out!
      </div> -->
      {% if result is defined %}
      <div class=" alert alert-success my-4">
        Class: {{ result }}
      </div>
      {% else %}
        
      {% endif %}

      <div class="mt-5" aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px; ">
        <div class="toast" style="position: absolute; top: 0; right: 0; "  data-autohide="false">
          <div class="toast-header">
            <strong class="mr-auto">Reminder</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            <p class="lead">
              ECG <strong>MUST</strong> contains 186 samples!!!
            </p>
          </div>
        </div>
      </div>
  </div> 
  

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
    <script>
      $('.toast').toast('show')
    </script>
</body>

</html>